{% extends 'sms_app/base.html' %}

{% block content %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount Sent</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">Sent_DateTime</th>
      </tr>
    </thead>

    {% for sms in sms_db %}
    <tr>
      <th>#</th>
      <th>{{sms.sms_txt}}</th>
      <th>{{sms.sender_number}}</th>
      <th>{{sms.sent_dt}}</th>
    </tr>
    {% endfor %}

 
</table>

{% endblock %}
